{% block sw_cms_el_component_banner_slider %}
    <div class="sw-cms-el-component-banner-slider">
        <div class="banner-slider-preview">
            <p>Banner Slider component</p>
        </div>
    </div>
{% endblock %}