<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Enable Subscriber Webhook calls</title>
        <input-field type="bool">
            <name>enableSubscriberWebhook</name>
            <label>Enable Subscriber Calls</label>
            <helpText>If disabled, subscriber won't be called.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Order Delivery Shipped State</title>
        <component name="sw-entity-single-select">
            <name>shippedStateId</name>
            <entity>state_machine_state</entity>
            <label>Select Shipped State for Order Delivery</label>
        </component>
    </card>
</config>
